<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>484640674688-ts1nr97e50173gr3rot3i9bf7oop14fp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.484640674688-ts1nr97e50173gr3rot3i9bf7oop14fp</string>
	<key>API_KEY</key>
	<string>AIzaSyBp40IoRCsnjK7GVtTWpbKGDBG33V7HOU0</string>
	<key>GCM_SENDER_ID</key>
	<string>484640674688</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>han.Jolly-Chat</string>
	<key>PROJECT_ID</key>
	<string>jolly-chat-43243</string>
	<key>STORAGE_BUCKET</key>
	<string>jolly-chat-43243.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:484640674688:ios:d0aedf4d250f82bba92765</string>
	<key>DATABASE_URL</key>
	<string>https://jolly-chat-43243.firebaseio.com</string>
</dict>
</plist>